/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.gif-card{
  content: "";
}

.gif-card:hover{
  filter:brightness(0.9);
}

.gif-card:hover::after{
  content: "Click to use gif.";
  color:white;
  position:absolute;
  bottom:100%;
  left:50%;
  transform:translateX(-50%);
  background-color:rgba(0,0,0,0.7);
  padding:4px 8px;
  border-radius:4px;
  white-space:nowrap;
  font-size:12px;
  margin-bottom:6px;
}

.gif-card.copied::after{
  content: "Gif copied!";
  color:white;
  position:absolute;
  bottom:100%;
  left:50%;
  transform:translateX(-50%);
  background-color:rgba(0,0,0,0.7);
  padding:4px 8px;
  border-radius:4px;
  white-space:nowrap;
  font-size:12px;
  margin-bottom:6px;
  font-weight:bold;
}

@media(min-width:992px) {
  .w-lg-30{
    width:30% !important;
  }
}

@media(min-width:1200px) {
  .gif-card{
    width:42%;
  }
}

@media(max-width:991px) {
  .gif-card{
    width:30%;
  }
}

#gift-container{
  column-count:3;
}

@media(max-width:575px) {
  #gift-container{
    column-count:2 !important;
    font-size:.75rem !important;
  }
}